.catalog-container {
  display: inline-flex;
  flex-direction: column;
  padding: 0.5rem;
  background: #6f9a89;
  margin: auto;
  border-radius: 1rem;
  width: 95vw;
}

.filter-container {
  display: flex;
  width: 95vw;
}

.filter {
  flex: 1 1 0;
  font-size: 1.4rem;
  line-height: 1.4rem;
  text-align: left;
  font-weight: bold;
  padding: 0.5rem;
}

@media screen and (min-width: 720px) {
  .catalog-container {
    padding: 0.5rem;
    border-radius: 1rem;
    width: 80vw
  }

  .filter-container {
    display: flex;
    width: 80vw;
  }

  .filter {
    font-size: 2rem;
    line-height: 2rem;
    padding: 0.5rem 0;
  }
}
