.catalog-container {
  background: $green;
  border-radius: 1rem;
}

.filter-container {
  display: flex;
  align-items: flex-end;
  flex: 1 1 0;
  margin: 0 1rem;
  padding-top:1rem;
}

.filter {
  flex: 1 1 0;
  font-size: 1.8rem;
  line-height: 1.8rem;
  text-align: start;
  font-weight: bold;
  padding-right: 1rem;
}
.filter:first-child {
  flex: 2 1 0;
}

@media screen and (min-width: 720px) {
  .catalog-container {
    padding: 0.5rem;
    border-radius: 1rem;
  }

  .filter {
    font-size: 4rem;
    line-height: 2rem;
    padding: 0.5rem 0;
  }
}
