.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0;
  background: $green;
  font-size: 4rem;
  font-weight: bold;
  color: $orange;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.header-content-container {
  @extend .content-container;
  flex-wrap: wrap;
}

.link-container {
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 0;
  padding: 2rem 0;
  width: 100%;
}

.link-login{
  width: 80px;
  height: 24px;
  font-size: 1.5rem;
  background: $dark-red;
}

.navigation-link {
  width: 100%;
  height: 4rem;
  display: block;
  text-decoration: none;
  text-align: center;
  line-height: 4rem;
  color: $off-white;
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.link-button {
  flex-grow: 1;
  display: inline-block;
  border: none;
  text-decoration: none;
  background: $orange;
  cursor: pointer;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.link-button:hover,
.link-button:focus {
  background: $off-orange;
}

.link-button:first-child {
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.link-button:last-child {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

@media screen and (min-width: $transition-medium) {
  .header-container {
    flex-direction: row;
    justify-content: space-between;
    font-size: 4rem;
  }

  .header-content-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .title-container {
    padding-bottom: 0;
  }

  .link-login{
    margin:1rem;
    width: 100px;
    height: 30px;
    font-size: 2rem;
  }

  .link-container {
    justify-content: flex-end;
  }

  .navigation-link {
    padding: 0 0.5rem;
  }

  .link-button {
    flex: 0 1 0;
    padding: 0.5rem 1rem;
    font-size: 2.5rem;
  }

  .link-button:first-child,
  .link-button:last-child {
    border-radius: 0;
  }
}

@media screen and (min-width: $transition-big) {
  .header-container {
    flex-direction: row;
    justify-content: space-between;
    font-size: 6rem;
  }

  .link-login{
    margin:2rem;
    width: 160px;
    height: 40px;
    font-size: 2.5rem;
  }

  .navigation-link {
    padding: 0 3rem;
  }

  .link-button {
    padding: 1rem 2rem;
    font-size: 4rem;
  }
}