.search-container {
  display: flex;
  margin-top: 1rem;
}

.dropdown {
  flex: 1 0 0;
  border: none;
  outline: none;
  margin: 1rem 0;
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background: $off-white;
}

.text-input {
  flex: 2 0 0;
  border: none;
  outline: none;
  margin: 1rem 0;
  font-size: 1.2rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background: $off-white;
}

@media screen and (min-width: $transition-medium) {
  .dropdown {
    margin: 1.5rem 0;
    padding: 0.5rem 2rem;
    font-size: 1.6rem;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
  }

  .text-input {
    padding: 0.5rem 1.5rem;
    margin: 1.5rem 0;
    font-size: 1.6rem;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
  }
}

@media screen and (min-width: $transition-big) {
  .dropdown {
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    font-size: 2rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
  }

  .text-input {
    margin: 1rem 0;
    padding: 1rem 1.5rem;
    font-size: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }
}
