// SPACING
$vw: 75vw;
$vwm: 60vw;
$vwb: 45vw;

$transition-medium: 600px;
$transition-big: 1024px;

//COLORS
$green: #379987;
$orange: #af7745;
$off-orange: #cfb195;
$dark-green: #015746;
$dark-red: #740f15;
$off-white: #e0e0e0;
$grey: #706f6f;