.box-container{
    display: flex;
    margin-bottom: 1rem;
    justify-content: center;
    background: #f8bda1;
    border: 2px solid #000000;
    border-radius: 1rem;
}

.box{
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.4rem;
    line-height: 1.4rem;
    text-align: left;
    padding: 0.5rem;
}

.model-container{
    width: 25%;
}

.model{
    border-radius: 0.8rem 0 0 0.8rem
}

@media screen and (min-width: 720px) {
    .box-container{
        margin-bottom: 1rem;
    }    
    .box{
        font-size: 2rem;
        line-height: 2rem;
    }
}